.background-color {
    background: #8360c3;
    background: -webkit-linear-gradient(to top, #8360c3, #2ebf91);
    background: linear-gradient(to top, #8360c3, #2ebf91);
}
.background-glassy {
    background: rgba(255, 255, 255, 0.80);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.45);
}