{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grumman</title>
    {% block style %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fav_icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark p-3">
        <a class="navbar-brand" href="{% url 'home' %}">Grumman</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Boards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="" id="navbarDpMenu" type="button" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-tie" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end p-1" aria-labelledby="navbarDpMenu">
                <li>
                    <a class="dropdown-item" href="">Profile</a>
                </li>
                <li>
                    <a class="dropdown-item" href="">Settings</a>
                </li>
                <li>
                    <a class="dropdown-item" href="">Logout</a>
                </li>
            </ul>
        </div>


    </nav>


    <section class="background-color vh-100 overflow-hidden">
        {% block content %}
        {% endblock %}
    </section>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>