{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 background-glassy">
    <div class="row my-4">
        <div class="col-md-8">
            <div class="input-group">
              <div class="form-outline mr-1">
                <input type="search" class="form-control" placeholder="Search">
              </div>
              <button type="button" class="btn btn-primary">
                Search
              </button>
            </div>

        </div>
        <div class="col-md-4 text-right">
                <a class="btn btn-success" id="add-project" href="{% url 'new_project' %}">Add Project</a>
        </div>
    </div>
    <div class="table-reponsive">
        <table class="table">
            <thead>
                <th>Row</th>
                <th>Title</th>
                <th>Due Date</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for todo in todo_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.items.due_date }}</td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>1</td>
                    <td>No Todo-List yet</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}