{% extends 'base.html' %}
{% block content %}
<section class="overflow-hidden background-color vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 px-4 py-5">
                <div class="card bg-class">
                    <div class="card-body">
                        <ul class="nav nav-pills nav-justified mb-3" id="vitrine-ul" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">Login</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab" aria-controls="register" aria-selected="false">Register</button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content p-4">
                        <!-- login  -->
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form>
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                  <label class="form-label" for="loginName">Email or username</label>
                                  <input type="email" id="loginName" class="form-control" />
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                  <label class="form-label" for="loginPassword">Password</label>
                                  <input type="password" id="loginPassword" class="form-control" />
                                </div>

                                <!-- 2 column grid layout -->
                                <div class="row mb-4">
                                  <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check mb-3 mb-md-0">
                                      <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                      <label class="form-check-label" for="loginCheck"> Remember me </label>
                                    </div>
                                  </div>

                                  <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Simple link -->
                                        <a href="#!">Forgot password?</a>
                                  </div>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                                <!-- Register buttons -->
                                <div class="text-center">

                                  <p>Not a member? <a href="#register">Register</a></p>
                                </div>
                            </form>

                        </div>
                        <!-- end login -->
                        <!-- register -->
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <form>
                                <!-- Name input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="registerName">Name</label>
                                    <input type="text" id="registerName" class="form-control" />
                                </div>

                                <!-- Username input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="registerUsername">Username</label>
                                    <input type="text" id="registerUsername" class="form-control" />
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="registerEmail">Email</label>
                                    <input type="email" id="registerEmail" class="form-control" />
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="registerPassword">Password</label>
                                    <input type="password" id="registerPassword" class="form-control" />
                                </div>

                                <!-- Repeat Password input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                                    <input type="password" id="registerRepeatPassword" class="form-control" />
                                </div>

                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-center mb-4">
                                  <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                                    aria-describedby="registerCheckHelpText" />
                                  <label class="form-check-label" for="registerCheck">
                                    I have read and agree to the terms
                                  </label>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-3">Register</button>
                            </form>
                        </div>
                        <!-- end register -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
